
	<table cellspacing="5" bgcolor="white" border="1" cellpadding="10" >
	<tr>
		<td width="25%" bgcolor="#CCCCCC" cellpadding="10" class="instructions">
			</br>
			<b>Instructions:</b></br> 
				</br>
				<p>You work for ‘Auto Spares’ a company that supplies spare parts for cars throughout Kenya.</p>

				<p>A customer from Mombasa calls and explains that he needs to replace his Exhaust Muffler for his 8 year old blue Toyota corolla. He needs the details of a store which is close to him which has the part in stock.</p> 

				<p>‘Auto Spares’ uses 3 different databases for each make of car.</p>
				
			</br>
			</br>
				<b>You must:</b>
			</br>
			<p> Select the most appropriate database to search on that will find you the required information.</p>

			<p> Once you have found the part that the customer wants click <INPUT TYPE="RADIO" NAME="XXXX" VALUE="X" DISABLED> and then click <button type="button" disabled="disabled"> Submit</button> at the bottom of the search results.</p>

			<p>&nbsp;</br></br></p>
		
		</td>
		<td bgcolor="3399f" valign="top" >

	<table width="900" bordercolor="#000000" >
	<tr  >
	    <td width="755" colspan="991"  bgcolor="#FFFFFF"><span >  http://www.autospares.com.ke </span></td>
	  </tr>
	</table>
	<br />

	<%= image_tag("parts_banner.png", :size=>"900x126")%>
	<table width="100%">  
			
		
			
			

				    <tr >
					<td >
						<p>&nbsp;</br></br></p>

				 		 <p class="whitecorrect">This is not the part that the customer wanted. </p>
						<p class="whitecorrect"> Please search again <%=f.submit "Search again", :name => :back_to_search %> </p> 
						
						
							<p>&nbsp;</br></br></p>
						
								<%if @wrong_result>2%>
								<p class="giveup" >If you would like to stop this task and move on</p> <p class="giveup"> to the next task click here <%=submit_tag "Next Task", :name => :give_up %> </p>
								<%end%>
						</td>

				
					
					
					</td>
					</tr>
					


	
		
	
</tr>
</table>
