<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> You have completed the Information Literacy assessment. </p>
			<p class="task">Please take a few minutes to fill in a brief questionnaire about how and when you are able to access computers.</br></br></p>
			<p class="task"> Once you have finished the questionnaire you will be able to view the results of your assessment.</p>
		</td>
	</tr>
	<tr>
		<td align='center' > <p> <%= link_to 'Go To Questionnaire', new_user_questionnaire_path(@user), :style => 'float:center',  :class=>"nextbutton" %> </p>
		</td>
	</tr>





