<%= image_tag("Taskbar5.png" )%>

<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> Task 5 </br></br></p>
		</td>
	</tr>
	<tr>
		<td> <p> <%= link_to "Start Task 5", present_intro_present_path,  :class=>"nextbutton"%> </p>
		</td>
	</tr>