<%= image_tag("Taskbar4.png" )%>

<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> Task 4 </br></br></p>
		</td>
	</tr>
	<tr>
		<td> <p> <%= link_to "Start Task 4", new_user_part_score_path(@user),  :class=>"nextbutton"%> </p>
		</td>
	</tr>