<p>&nbsp;</p><p>&nbsp;</p>

		<a class="notice" align="center"><%= notice %></a>

<p class="task" align="center">Welcome to Information Literacy Africa</p>

<p class="task" align="center">Please indicate whether you are a student or a teacher.</p>
	<p>&nbsp;</p>	<p>&nbsp;</p>
<table width="100%" >
	<tr>
		<td align="center">
			<%= link_to "Student", new_session_path,  :class=>"nextbutton"%>
		</td>
		<td align="center">
			<%= link_to "Teacher", new_teacher_path,  :class=>"nextbutton"%>
		</td>
	</tr>
	
</table>