<%= image_tag("Taskbar1.png" )%>

<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> Task 1 </br></br></p>
		</td>
	</tr>
	<tr>
		<td> <p> <%= link_to "Start Task 1", new_user_research_a_path(@user),  :class=>"nextbutton"%> </p>
		</td>
	</tr>