<%= image_tag("Taskbar3.png" )%>

<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> Task 3 </br></br></p>
		</td>
	</tr>
	<tr>
		<td> <p> <%= link_to "Start Task 3", new_user_video_score_path(@user),  :class=>"nextbutton"%> </p>
		</td>
	</tr>