you have completed the assessment. please click here to prepare for the next user


</br>
</br>

<table>
	
		<tr bgcolor="#CCCCCC">
			<td>
				</br>


	<td>
		</br>
		</br>
		<%= link_to 'Start', logout_path, :style => 'float: right' %>
	</td>	
</tr>	

</table>

