<%= image_tag("Taskbar2.png" )%>

<table align="center">
	<tr align="center">
		<td align="center"> <p class="task"></br></br> Task 2 </br></br></p>
		</td>
	</tr>
	<tr>
		<td> <p> <%= link_to "Start Task 2", new_user_website_path(@user), :class=>"nextbutton"%> </p>
		</td>
	</tr>