// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task
{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
color: #035495;
text-align:center;
line-height:120%;
}

.result
{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color: #035495;
text-align:left;
line-height:120%;
}