// Place all the styles related to the Part_scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.part_scores{

.error{
color:#006600;
font-size: 20px;
}
.searchwhite
{
line-height:120%;
font-family:Impact, Charcoal, sans-serif;
color:white;
font-size: 24px;
}

.searchresulthead
{
font-family:Impact, Charcoal, sans-serif;
color:#880000;
font-size: 28px;
text-align:left, bottom;
}

.pageentries
{
color:#880000;
font-size: 14px;
text-align:right;
vertical-align: bottom;
}

.white{
color:white;
}

.whitehead{
color:white;
font-size: 18px;
font-weight: bold;
text-align:center;
}

.whitecorrect{
color:white;
font-size: 22px;
font-weight: bold;
text-align:center;
}

.giveup{
color:#990000;
font-size: 22px;
font-weight: bold;
text-align:center;
}

.whitetable{
color:white;
font-size: 14px;
text-align:center;
}

.highlightbuttons {
  padding: 2px;
  background-color: red;
 
  display: table; }

.nextbutton
{

	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cde6b8), color-stop(1, #3c8005) );
	background:-moz-linear-gradient( center top, #cde6b8 5%, #3c8005 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde6b8', endColorstr='#3c8005');
	background-color:#cde6b8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#080a06;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;

}

.startbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.classname:active {
	position:relative;
	top:1px;
}

}