// Place all the styles related to the Title controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task
{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
color: #035495;

line-height:120%;
}

.notice
{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 40px;
font-weight: bold;
text-align:center;
color: #900;

}

.nextbutton
{

	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cde6b8), color-stop(1, #3c8005) );
	background:-moz-linear-gradient( center top, #cde6b8 5%, #3c8005 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde6b8', endColorstr='#3c8005');
	background-color:#cde6b8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#080a06;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	
}
.nextbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top,  #3c8005 5%, #cde6b8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}


